#topBox {
  background-color: lightgray;
  width: auto;
  height: 100px;
  padding: 15px 20px;
}

.smBox {
  background-color: rgba(0, 174, 255, 0.774);
  height: 75px;
  width: 75px;
}

p {
  padding: 50px;
  font-size: 20px;
}

.blue {
  background-color: rgba(0, 174, 255, 0.774);
  height: 100px;
}

.teal {
  background-color: teal;
  height: 100px;
}

.green {
  background-color: greenyellow;
  height: 100px;
}

.yellow {
  background-color: rgb(255, 255, 0);
  height: 100px;
}
